.uiChild {
  position: absolute;
  height: 100%;
  width: calc(100% - 4px);
  top: 0;
  right: 4px;
  bottom: 0;
  left: 0;
  box-shadow: 0-2px 9px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
}

.homeIndicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}

.homeindicator,
.ui {
  position: absolute;
  top: 49px;
  left: 2px;
  width: 398px;
  height: 36px;
}

.ui {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.amazon,
.customer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.amazon {
  width: 31px;
  position: relative;
  height: 31px;
  background-image: url(/amazon@3x.png);
}

.customer {
  background-image: url(/customer@3x.png);
}

.customer,
.menuIcon,
.shoppingCart {
  width: 31px;
  position: relative;
  height: 31px;
}

.shoppingCart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(/shopping-cart@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.menuIcon {
  object-fit: cover;
}

.menuButtons {
  position: absolute;
  top: 3px;
  left: calc(50% - 199px);
  width: 398px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-54xl);
}

.selectedBarChild,
.selectedBarItem {
  left: 0;
  background-color: var(--color-cadetblue);
  width: 53.7px;
}

.selectedBarChild {
  position: absolute;
  top: 0;
  border-radius: var(--br-sm);
  height: 6px;
}

.selectedBarItem {
  height: 3px;
}

.buttons,
.selectedBar,
.selectedBarItem {
  position: absolute;
  top: 0;
}

.selectedBar {
  left: 120.4px;
  width: 53.7px;
  height: 6px;
}

.buttons {
  left: calc(50% - 199px);
  width: 398px;
  height: 49px;
}

.bottomBar {
  width: 400px;
  position: relative;
  height: 85px;
}