.b,
.frameChild {
  position: absolute;
}
.frameChild {
  top: 0;
  left: 2px;
  background-color: var(--color-white);
  border: 1px solid var(--label-color-light-primary);
  box-sizing: border-box;
  width: 364px;
  height: 155px;
}
.b {
  top: 18px;
  left: 42px;
  font-size: var(--font-size-13xl);
  letter-spacing: 1px;
  line-height: 20px;
}
.frameItem,
.image1Icon {
  position: absolute;
  top: 64px;
  height: 11px;
}
.image1Icon {
  left: 42px;
  width: 283px;
  object-fit: cover;
}
.frameItem {
  left: 269px;
  border-radius: 50%;
  background-color: var(--color-firebrick);
  width: 11px;
}
.annualBudget7000,
.editBudget,
.removeBudget {
  position: absolute;
  top: 77px;
  left: 216px;
  letter-spacing: 0.3px;
  line-height: 20px;
}
.editBudget,
.removeBudget {
  top: 112px;
  left: 43px;
  color: var(--color-mediumblue);
}
.editBudget {
  top: 115px;
  left: 269px;
}
.ellipseDiv,
.frameInner {
  position: absolute;
  top: 142px;
  left: 168px;
  width: 7px;
  height: 7px;
}
.ellipseDiv {
  left: 179px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.rectangleParent {
  width: 366px;
  position: relative;
  height: 155px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--label-color-light-primary);
  font-family: var(--font-droid-sans);
}
