.otherupiChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 326px;
  height: 73px;
}

.googlePayPhonepe,
.otherUpiApps {
  position: absolute;
  top: 10px;
  left: 0;
  letter-spacing: 0.38px;
  line-height: 17.5px;
}

.googlePayPhonepe {
  top: 38px;
  font-size: var(--font-size-3xs);
}

.paymentdetails {
  position: absolute;
  height: 76.71%;
  width: 79.75%;
  top: 13.7%;
  right: 3.07%;
  bottom: 9.59%;
  left: 17.18%;
  overflow: hidden;
}

.noselectedradio {
  position: absolute;
  top: 24px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 24px;
  height: 24px;
}

.otherupi {
  position: absolute;
  top: 101px;
  left: 6px;
  width: 326px;
  height: 73px;
}

.amazonPayUpi,
.mvpicici {
  position: absolute;
  top: 10px;
  left: 7px;
  letter-spacing: 0.38px;
  line-height: 17.5px;
}

.mvpicici {
  top: 38px;
  font-size: var(--font-size-sm);
}

.amazonupi {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 326px;
  height: 73px;
}

.upi,
.upiLogoIcon1693161 {
  position: absolute;
  left: calc(50% - 169px);
}

.upi {
  top: 36px;
  background-color: var(--color-lightgray);
  width: 338px;
  height: 189px;
  overflow: hidden;
}

.upiLogoIcon1693161 {
  top: 0;
  width: 52px;
  height: 26px;
  object-fit: cover;
}

.upiSection {
  position: absolute;
  top: 377px;
  left: calc(50% - 172px);
  width: 338px;
  height: 225px;
}

.recommendation {
  position: absolute;
  top: 0;
  left: 6px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.38px;
  line-height: 17.5px;
  color: var(--color-gray-600);
}

.visaChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-khaki);
  width: 326px;
  height: 73px;
}

.mvp,
.visa1 {
  position: absolute;
  top: 10px;
  left: 12px;
  letter-spacing: 0.38px;
  line-height: 17.5px;
}

.mvp {
  top: 38px;
  font-size: var(--font-size-sm);
  white-space: pre-wrap;
}

.selectedpaymentIcon {
  position: absolute;
  height: 32.88%;
  width: 7.36%;
  top: 32.88%;
  right: 88.04%;
  bottom: 34.25%;
  left: 4.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.visa {
  position: absolute;
  top: 27px;
  left: 6px;
  width: 326px;
  height: 73px;
}

.amazonPay,
.availableBalanceXyz {
  position: absolute;
  top: 9px;
  left: 9px;
  letter-spacing: 0.38px;
  line-height: 17.5px;
}

.availableBalanceXyz {
  top: 38px;
  font-size: var(--font-size-sm);
}

.lastChild {
  left: 0;
  background-color: var(--color-lightcoral);
  width: 64px;
  height: 18px;
}

.last,
.lastChild,
.lastUsed {
  position: absolute;
  top: 0;
}

.lastUsed {
  left: 3px;
  letter-spacing: 0.38px;
  line-height: 17.5px;
  display: inline-block;
  width: 63px;
  height: 15.8px;
}

.last {
  left: 194px;
  width: 66px;
  height: 18px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-500);
}

.paymentdetails3 {
  position: absolute;
  height: 76.71%;
  width: 79.75%;
  top: 10.96%;
  right: 3.07%;
  bottom: 12.33%;
  left: 17.18%;
  overflow: hidden;
}

.noselectedradio2 {
  position: absolute;
  top: 22px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 24px;
  height: 24px;
}

.amazon {
  position: absolute;
  top: 109px;
  left: 6px;
  width: 326px;
  height: 73px;
}

.mlRecommendation,
.selectAPayment {
  position: absolute;
  left: calc(50% - 172px);
}

.mlRecommendation {
  top: 175px;
  background-color: var(--color-lightgray);
  width: 338px;
  height: 189px;
  overflow: hidden;
}

.selectAPayment {
  top: 136px;
  letter-spacing: 0.38px;
  line-height: 17.5px;
}

.topBar1,
.topBar2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-powderblue);
  width: 207px;
  height: 116px;
}

.topBar1 {
  left: 2px;
  background-color: var(--color-paleturquoise);
  width: 398px;
}

.backButton,
.layer2Icon {
  position: absolute;
  overflow: hidden;
}

.layer2Icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.backButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 58px;
  left: 23px;
  width: 24px;
  height: 24px;
}

.colorBackgroundHeader,
.topBar3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 116px;
}

.topBar3 {
  backdrop-filter: blur(150px);
  background-color: var(--color-gray-200);
  width: 398px;
}

.colorBackgroundHeader {
  width: 400px;
}

.cancel {
  position: absolute;
  top: 58px;
  left: 330px;
  letter-spacing: -0.41px;
  line-height: 24px;
  display: inline-block;
  width: 52px;
}

.topBarUi,
.topBarUi1 {
  width: 400px;
  height: 116px;
}

.topBarUi1 {
  position: relative;
}

.topBarUi {
  top: 0;
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div,
.notchIcon,
.topBarUi {
  position: absolute;
}

.notchIcon {
  top: -2px;
  left: calc(50% - 82px);
  width: 164px;
  height: 32px;
}

.div {
  top: 1px;
  left: 0;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 20px;
}

.batteryIcon,
.leftSide,
.statusbarTime {
  position: absolute;
  width: 54px;
  height: 21px;
}

.statusbarTime {
  top: 0;
  left: calc(50% - 27px);
  border-radius: var(--br-37xl);
}

.batteryIcon,
.leftSide {
  top: 14px;
  left: calc(50% - 171px);
}

.batteryIcon {
  top: 0;
  left: calc(50% + 11.3px);
  width: 27.4px;
  height: 13px;
}

.wifiIcon {
  position: relative;
  width: 17px;
  height: 12px;
}

.iconMobileSignal,
.rightSide {
  position: absolute;
  top: 1px;
  left: calc(50% - 19px);
  width: 18px;
  height: 12px;
}

.rightSide {
  top: 19px;
  left: calc(50% + 94px);
  width: 77.4px;
  height: 13px;
}

.statusbarIphone13 {
  width: 400px;
  position: relative;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
}

.navbar,
.topBar {
  position: absolute;
  top: 0;
  left: calc(50% - 200px);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-100);
  font-family: var(--default-bold-body);
}

.topBar {
  width: 400px;
  height: 116px;
  font-size: var(--default-bold-body-size);
  font-family: var(--font-inter);
}

.frameChild,
.offer2Child {
  position: absolute;
  top: 0;
  left: 0;
}

.frameChild {
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--color-white);
  border: 1px solid var(--label-color-light-primary);
  box-sizing: border-box;
  width: 400px;
  height: 578px;
}

.offer2Child {
  background-color: var(--color-gainsboro);
  width: 371px;
  height: 160px;
}

.getUpto500 {
  position: absolute;
  top: 6px;
  left: 9px;
  letter-spacing: 1px;
  line-height: 20px;
  display: inline-block;
  width: 337px;
  height: 21px;
}

.div1,
.div2,
.div3,
.maxOfferValue,
.minOrderValue,
.youGet {
  position: absolute;
  top: 78px;
  left: 10px;
  letter-spacing: 1px;
  line-height: 20px;
}

.div1,
.div2,
.div3,
.maxOfferValue,
.youGet {
  top: 104px;
}

.div1,
.div2,
.div3,
.youGet {
  top: 130px;
}

.div1,
.div2,
.div3 {
  top: 78px;
  left: 303px;
}

.div2,
.div3 {
  top: 99px;
}

.div3 {
  top: 125px;
}

.getUpto20,
.offer2 {
  position: absolute;
  top: 228px;
  left: 16px;
  width: 371px;
  height: 160px;
}

.getUpto20 {
  top: 6px;
  left: 9px;
  letter-spacing: 1px;
  line-height: 20px;
  white-space: pre-wrap;
  display: inline-block;
  width: 337px;
  height: 21px;
}

.offer1 {
  position: absolute;
  top: 55px;
  left: 16px;
  width: 371px;
  height: 160px;
}

.offersForYou {
  position: absolute;
  top: 24px;
  left: 25px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.38px;
  line-height: 17.5px;
  text-align: center;
}

.amazonRedesignDialogbox,
.rectangleParent {
  overflow: hidden;
  color: var(--label-color-light-primary);
  font-family: var(--font-droid-sans);
}

.rectangleParent {
  position: absolute;
  top: 322px;
  left: calc(50% - 200px);
  width: 400px;
  height: 479px;
  text-align: left;
  font-size: var(--font-size-sm);
}

.amazonRedesignDialogbox {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 800px;
  text-align: center;
  font-size: var(--font-size-xl);
}