.topBar1,
.topBar2,
.topBar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-powderblue);
  width: 207px;
  height: 116px;
}

.topBar1,
.topBar3 {
  left: 2px;
  background-color: var(--color-paleturquoise);
  width: 398px;
}

.topBar3 {
  left: 0;
  backdrop-filter: blur(150px);
  background-color: var(--color-gray-200);
}

.colorBackgroundHeader,
.searchBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 116px;
}

.searchBar {
  left: 31px;
  box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.25),
    0 2px 1px -1px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  width: 342px;
  height: 46px;
}

.iconChevronleft {
  position: absolute;
  top: calc(50% - 10px);
  right: 355px;
  cursor: pointer;
}

.iconMagnifyingglass {
  position: absolute;
  top: calc(50% - 8px);
  right: 311.2px;
  width: 17.8px;
  height: 18px;
}

.searchAmazonin {
  position: absolute;
  top: 13px;
  left: 74px;
  line-height: 24px;
}

.actionCamera {
  position: absolute;
  bottom: 8px;
  left: calc(50% + 149.5px);
  border-radius: var(--br-81xl);
  width: 30px;
  height: 30px;
}

.searchBarAndBackButton {
  position: absolute;
  top: 58px;
  left: 16px;
  width: 373px;
  height: 46px;
}

.topBarUi {
  top: 0;
  left: 0;
  width: 400px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div,
.notchIcon,
.topBarUi {
  position: absolute;
}

.notchIcon {
  top: -2px;
  left: calc(50% - 82px);
  width: 164px;
  height: 32px;
}

.div {
  top: 1px;
  left: 0;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 20px;
}

.batteryIcon,
.leftSide,
.statusbarTime {
  position: absolute;
  width: 54px;
  height: 21px;
}

.statusbarTime {
  top: 0;
  left: calc(50% - 27px);
  border-radius: var(--br-37xl);
}

.batteryIcon,
.leftSide {
  top: 14px;
  left: calc(50% - 171px);
}

.batteryIcon {
  top: 0;
  left: calc(50% + 11.3px);
  width: 27.4px;
  height: 13px;
}

.wifiIcon {
  position: relative;
  width: 17px;
  height: 12px;
}

.iconMobileSignal,
.rightSide {
  position: absolute;
  top: 1px;
  left: calc(50% - 19px);
  width: 18px;
  height: 12px;
}

.rightSide {
  top: 19px;
  left: calc(50% + 94px);
  width: 77.4px;
  height: 13px;
}

.statusbarIphone13 {
  width: 400px;
  position: relative;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-100);
  font-family: var(--default-bold-body);
}

.topBar {
  width: 400px;
  position: relative;
  height: 116px;
}

.budgetAndHistory {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.38px;
  line-height: 17.5px;
  color: var(--label-color-light-primary);
}

.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--label-color-light-primary);
  box-sizing: border-box;
  width: 363px;
  height: 42px;
}

.frameInner,
.frameItem {
  position: relative;
  top: 7px;
  /* left: 186px; */
}

.frameInner {
  left: 108px;
}

.frameChild1,
.groupChakrabutton {
  position: absolute;
  top: 7px;
  left: 10px;
}

.frameChild1 {
  left: 279px;
}

.rectangleParent {
  width: 363px;
  position: relative;
  border: 1px solid var(--label-color-light-primary);

  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}

.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--label-color-light-primary);
  box-sizing: border-box;
  width: 364px;
  height: 209px;
}

.may2024 {
  position: absolute;
  top: 10px;
  left: 28px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.div1,
.groupChild {
  position: absolute;
  top: 0;
}

.div1 {
  left: 306px;
  letter-spacing: 1px;
  line-height: 20px;
}

.groupChild {
  left: 0;
  background-color: var(--color-gainsboro);
  width: 39px;
  height: 41px;
}

.whiteBoard26x64 {
  position: absolute;
  top: 0;
  left: 46px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.parent {
  position: relative;
  top: 48px;
  left: 14px;
  width: 341px;
  height: 41px;
}

.paperBundle {
  position: absolute;
  top: 1px;
  left: 46px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.container,
.group {
  position: absolute;
  top: 105px;
  left: 14px;
  width: 341px;
  height: 41px;
}

.container {
  top: 160px;
}

.totalSpent864 {
  position: absolute;
  top: 12px;
  left: 231px;
  letter-spacing: 1px;
  line-height: 20px;
}

.amazonBudgetMonth,
.rectangleGroup {
  position: relative;
  text-align: center;
  font-family: var(--font-droid-sans);
}

.rectangleGroup {
  width: 383px;
  height: 211px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
  color: var(--label-color-light-primary);
  border: 1px solid var(--label-color-light-primary);
}

.amazonBudgetMonth {
  width: 100%;
  background-color: var(--color-white);
  height: 866px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-24xl);
  font-size: var(--default-bold-body-size);
  color: var(--color-gray-300);
}

.slick-list {
  width: 100%;
  height: auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.budgetVisualBarContainer {
  width: 80%;
  /* Adjust the width as needed */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.budgetInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.budgetBar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.budgetSpend {
  height: 100%;
  background-color: #4caf50;
}

.budgetDetails {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}